<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ozymandias.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/abeja"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/abeja"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".faucet"
            android:exported="true" />
        <activity android:name=".home" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7543097816669416~7957991239" />

        <activity android:name=".retiro" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->

        <activity android:name=".QuizActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>